.artCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #e1e5e9;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;

  h3 {
    margin: 0;
    text-align: center;
    font-size: 0.875rem;
    color: #333;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }

  button {
    background: rebeccapurple;
    color: #efe;
    padding: 0.375rem;
    border-radius: 0.375rem;
    border: 1px solid rebeccapurple;
    cursor: pointer;
  }
}

.artCardInfo {
  max-width: 100%;
  p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
