body {
  background-color: rgb(45, 25, 69);
  /* some cool boxes pattern background */
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
