body {
  /* opacity: 0.8; */
  background-color: #f6e6f7;
  background-image:
    linear-gradient(135deg, #8741cd 25%, transparent 25%),
    linear-gradient(225deg, #8741cd 25%, transparent 25%),
    linear-gradient(45deg, #8741cd 25%, transparent 25%),
    linear-gradient(315deg, #8741cd 25%, #f6e6f7 25%);
  background-position:
    27px 0,
    27px 0,
    0 0,
    0 0;
  background-size: 27px 27px;
  background-repeat: repeat;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
